.li-search input,.w2ui-btn,.w2ui-form textarea,.w2ui-toolbar-input,input:not([type=radio]).w2ui-input,input[type=color],input[type=color]:active,input[type=color]:focus,input[type=color]:hover,select {
  border:0;
  outline:0
  }
  
  .li-search,.w2ui-box-label:has(input[type=radio]),.w2ui-column-container:not(:has(.col-1)),.w2ui-field,.w2ui-field.expand .w2ui-multi-items,.w2ui-field:has(.full-width-field) div,.w2ui-field:has(.w2ui-box-label).w2ui-field:has(input[type=checkbox]) label,.w2ui-field>div,.w2ui-field>label,.w2ui-group:has(.group-flex) .w2ui-group-fields,.w2ui-message-buttons,.w2ui-tb-button {
  display:flex
  }
  
  .w2ui-panel .w2ui-panel .w2ui-sidebar {
  background-color:color-mix(in oklab,var(--window-background-alt) 85%,var(--window-background))
  }
  
  *,::after,::before {
  accent-color:var(--accent);
  transition:background-color,color,background .25s
  }
  
  .no-transition {
  transition:none!important
  }
  
  .w2ui-btn.accent,.w2ui-form textarea:focus,.w2ui-sidebar .w2ui-sidebar-body .w2ui-node .w2ui-node-text,highlight,input:not([type=radio]).w2ui-input:focus,select,select:focus {
  color:var(--node-title)
  }
  
  .hidden-until-hover-wrapper,.w2ui-sidebar .w2ui-sidebar-body .w2ui-node .w2ui-node-text:hover {
  color:inherit
  }
  
  .w2ui-disabled,.w2ui-disabled .w2ui-node-data,.w2ui-disabled .w2ui-node-data:hover,.w2ui-disabled .w2ui-node-text,.w2ui-disabled .w2ui-node-text:hover,.w2ui-disabled:hover {
  cursor:not-allowed!important
  }
  
  .w2ui-sidebar .w2ui-sidebar-body .w2ui-node:hover {
  background-color:var(--button-alt-text)
  }
  
  .w2ui-sidebar .w2ui-sidebar-body .w2ui-node-group,.w2ui-sidebar .w2ui-sidebar-body .w2ui-node.w2ui-disabled,.w2ui-sidebar .w2ui-sidebar-body .w2ui-node.w2ui-disabled:hover {
  background:0 0
  }
  
  .w2ui-sidebar .w2ui-sidebar-body .w2ui-node.w2ui-disabled .w2ui-node-image,.w2ui-sidebar .w2ui-sidebar-body .w2ui-node.w2ui-disabled .w2ui-node-image>span,.w2ui-sidebar .w2ui-sidebar-body .w2ui-node.w2ui-disabled .w2ui-node-text,.w2ui-sidebar .w2ui-sidebar-body .w2ui-node.w2ui-disabled:hover .w2ui-node-image,.w2ui-sidebar .w2ui-sidebar-body .w2ui-node.w2ui-disabled:hover .w2ui-node-image>span,.w2ui-sidebar .w2ui-sidebar-body .w2ui-node.w2ui-disabled:hover .w2ui-node-text {
  opacity:.4
  }
  
  .w2ui-sidebar .w2ui-sidebar-body .w2ui-selected,.w2ui-sidebar .w2ui-sidebar-body .w2ui-selected:hover {
  background-color:color-mix(in oklab,var(--button-alt-text) 80%,var(--accent))
  }
  
  .w2ui-sidebar .w2ui-sidebar-body .w2ui-node-group :nth-child(1) {
  color:transparent
  }
  
  .w2ui-sidebar .w2ui-sidebar-body .w2ui-node-group :nth-child(2) {
  font-weight:400;
  text-transform:uppercase
  }
  
  .w2ui-sidebar .w2ui-sidebar-body .w2ui-node-sub {
  overflow:hidden
  }
  
  .w2ui-sidebar .w2ui-sidebar-body .w2ui-node-badge {
  z-index:2
  }
  
  .w2ui-sidebar .w2ui-sidebar-body .w2ui-node-data .w2ui-node-badge.w2ui-node-count {
  background-color:color-mix(in oklab,var(--button-alt-text) 60%,var(--accent));
  cursor:default;
  margin-right:var(--spacing-2);
  margin-top:var(--spacing-2)
  }
  
  .w2ui-sidebar .w2ui-sidebar-body .w2ui-selected .w2ui-node-badge.w2ui-node-count {
  background-color:color-mix(in oklab,var(--slider-1) 50%,var(--accent))
  }
  
  .w2ui-sidebar-body .w2ui-node-image {
  margin-right:var(--spacing-02);
  margin-top:var(--spacing-01)
  }
  
  .w2ui-node-flat .w2ui-node-image {
  margin-left:var(--spacing-01)
  }
  
  .w2ui-panel {
  background-color:var(--window-background)
  }
  
  .w2ui-btn,.w2ui-sidebar .w2ui-sidebar-body .w2ui-node-group,.w2ui-toolbar,.w2ui-toolbar-input {
  color:var(--node-text)
  }
  
  .w2ui-overlay {
  background-color:color-mix(in oklab,var(--window-background) 50%,var(--window-background-alt));
  z-index:55
  }
  
  .w2ui-overlay:has(.w2ui-arrow-bottom) {
  border-radius:0 0 var(--spacing-01) var(--spacing-01);
  margin-top:-12px
  }
  
  .w2ui-overlay:has(.w2ui-arrow-top) {
  border-radius:var(--spacing-01) var(--spacing-01)0 0;
  margin-top:3px
  }
  
  .w2ui-overlay:has(.w2ui-arrow-left) {
  border-radius:var(--spacing-01)0 0 var(--spacing-01)
  }
  
  .w2ui-overlay:has(.w2ui-arrow-right) {
  border-radius:0 var(--spacing-01) var(--spacing-01)0
  }
  
  .menu-text,.w2ui-input-label,.w2ui-overlay,.w2ui-tb-text,.w2ui-toolbar .w2ui-input-label,.w2ui-toolbar .w2ui-toolbar-input {
  cursor:default;
  font-size:.8rem
  }
  
  .hidden-until-hover-wrapper,.report-issue,.report-issue *,.report-issue:hover,.w2ui-btn:hover,.w2ui-list-remove::before,.w2ui-sidebar .w2ui-sidebar-body .w2ui-node .w2ui-node-text:hover,.w2ui-tb-button:not(.status-bar) .w2ui-tb-icon,.w2ui-tb-button:not(.status-bar) .w2ui-tb-text {
  cursor:pointer!important
  }
  
  .w2ui-column-container:not(:has(.col-1)),.w2ui-field.expand .w2ui-multi-items,.w2ui-field>label,.w2ui-message-buttons,.w2ui-tb-button {
  align-items:center;
  justify-content:center
  }
  
  .w2ui-box-label:has(input[type=radio]),.w2ui-field.w2ui-field:has(input[type=checkbox]),.w2ui-field.w2ui-field:has(select) {
  align-items:center
  }
  
  .w2ui-field>div {
  flex-direction:row;
  flex-wrap:wrap;
  gap:10px;
  justify-content:start
  }
  
  .w2ui-tb-button .w2ui-tb-icon {
  width:unset!important
  }
  
  .w2ui-tb-button:hover {
  background-color:color-mix(in oklab,var(--window-background) 60%,var(--window-background-alt))
  }
  
  .w2ui-menu-item:hover {
  background-color:color-mix(in oklab,var(--window-background) 30%,var(--window-background-alt))
  }
  
  .w2ui-tb-check .w2ui-tb-text::before {
  border:2px solid var(--window-background-alt);
  border-radius:.125rem;
  content:"";
  display:inline-block;
  height:var(--spacing-3);
  width:var(--spacing-3)
  }
  
  .w2ui-sidebar .w2ui-sidebar-body .w2ui-node-data .w2ui-node-badge.w2ui-node-count,.w2ui-tb-check.radio .w2ui-tb-text::before {
  border-radius:99rem
  }
  
  .w2ui-tb-check.checked .w2ui-tb-text::before {
  border:2px solid var(--accent)
  }
  
  .w2ui-tb-break {
  border-right:2px solid var(--window-background);
  height:75%
  }
  
  .report-issue,.status-bar,.status-bar .w2ui-tb-text,.status-bar:hover,.w2ui-enum-placeholder,.w2ui-group-fields,input[type=color],input[type=color]:active,input[type=color]:focus,input[type=color]:hover {
  padding:0!important
  }
  
  .report-issue,.status-bar,.status-bar .w2ui-tb-text,.status-bar:hover {
  background-color:transparent
  }
  
  .report-issue,.status-bar .w2ui-tb-text {
  margin-top:-.75rem
  }
  
  .report-issue:hover,.w2ui-list-remove:hover::before {
  color:var(--accent)
  }
  
  .w2ui-toolbar-input {
  background-color:color-mix(in oklab,var(--window-background) 60%,var(--window-background-alt));
  border-radius:var(--spacing-01);
  margin-left:var(--spacing-01)!important
  }
  
  .w2ui-toolbar-input:hover {
  background-color:color-mix(in oklab,var(--window-background) 40%,var(--window-background-alt))
  }
  
  .w2ui-form textarea:focus,input:not([type=radio]).w2ui-input:focus,select:focus {
  background-color:color-mix(in oklab,var(--list-background) 40%,var(--window-background-alt))
  }
  
  .w2ui-btn,.w2ui-input.w2field,input[type=color],input[type=color]:active,input[type=color]:focus,input[type=color]:hover,select {
  appearance:none
  }
  
  .w2ui-btn {
  background-color:var(--node-background)
  }
  
  .w2ui-field>label {
  white-space:nowrap;
  width:max-content!important
  }
  
  .w2ui-btn.slider1 {
  background-color:var(--slider-1)!important
  }
  
  .w2ui-btn:hover {
  background-color:color-mix(in oklab,var(--node-background) 80%,var(--slider-1))
  }
  
  .w2ui-column-container {
  flex-wrap:wrap;
  justify-content:space-between
  }
  
  .w2ui-column-container .w2ui-column {
  padding:2rem!important;
  width:max-content!important
  }
  
  .w2ui-column-container:has(.col-2) .w2ui-column {
  max-width:23rem
  }
  
  .w2ui-box-label:has(input[type=checkbox]) span {
  width:90%
  }
  
  .w2ui-field:has(input[type=checkbox]) .w2ui-column-container .w2ui-column:not(:last-child) {
  border-right:1px solid var(--window-background-alt)
  }
  
  .w2ui-column-container:has(.col-1):not(:has(.col-2)) .col-0,.w2ui-column-container:has(.col-1):not(:has(.col-2)) .col-1 {
  width:50%!important
  }
  
  .w2ui-message {
  left:1vw!important;
  padding:3rem;
  top:1vw!important
  }
  
  .w2ui-message-buttons {
  gap:1rem
  }
  
  .w2ui-lock {
  background-color:#000000a0;
  opacity:1!important;
  z-index:1380
  }
  
  .w2ui-popup {
  background-color:var(--window-background);
  padding:1rem;
  z-index:1390
  }
  
  input[type=color],input[type=color]:active,input[type=color]:focus,input[type=color]:hover {
  height:2rem!important;
  width:4rem!important
  }
  
  .w2ui-tb-check.checked,.w2ui-toolbar {
  background-color:color-mix(in oklab,var(--window-background) 80%,var(--window-background-alt))
  }
  
  .w2ui-panel .w2ui-panel .w2ui-toolbar,.w2ui-tb-button.checked {
  background-color:color-mix(in oklab,var(--window-background) 50%,var(--window-background-alt))
  }
  
  .w2ui-tb-check.checked .w2ui-tb-text::before {
  background-color:var(--accent)
  }
  
  .panel-tabs:hover {
  background-color:color-mix(in oklab,color-mix(in oklab,var(--window-background) 50%,var(--window-background-alt)) 50%,var(--accent))
  }
  
  .panel-tabs:not(.checked) {
  background-color:color-mix(in oklab,var(--window-background) 10%,var(--window-background-alt))
  }
  
  .panel-tabs {
  border-top-left-radius:.25rem;
  border-top-right-radius:.25rem
  }
  
  .li-search input {
  width:95%!important
  }
  
  .w2ui-list-remove::before {
  color:var(--button-alt-text);
  content:"x";
  font-size:1rem
  }
  
  .w2ui-field small {
  display:inline-block;
  max-width:65ch
  }
  
  .w2ui-group:has(.group-flex) .w2ui-group-fields {
  justify-content:space-around
  }
  
  .w2ui-group-fields label {
  width:min-content!important
  }
  
  .w2ui-field:has(:not([type=checkbox]).no-label)>label,.w2ui-group:has(.group-flex) .w2ui-group-title,label:has(input.no-label) span {
  display:none!important
  }
  
  highlight {
  background-color:var(--slider-1);
  padding:1px 2px
  }
  
  .w2ui-multi-items .li-item {
  background-color:var(--window-text);
  color:var(--window-background-alt);
  cursor:default;
  padding:.25rem
  }
  
  .w2ui-field-helper.w2ui-list {
  display:block;
  height:100%!important;
  min-width:100%;
  overflow:hidden;
  position:relative
  }
  
  .w2ui-field.expand .w2ui-multi-items {
  flex-wrap:wrap;
  height:100%!important
  }
  
  .w2ui-field-helper.w2ui-list .w2ui-input {
  width:0!important
  }
  
  .w2ui-menu {
  max-height:12rem;
  overflow-x:hidden
  }

  .w2ui-menu, .w2ui-sidebar-body{
    overflow-y:auto
  }
  
  .resize-icon {
  -webkit-mask:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-grip'%3E%3Ccircle cx='12' cy='5' r='1'/%3E%3Ccircle cx='19' cy='5' r='1'/%3E%3Ccircle cx='5' cy='5' r='1'/%3E%3Ccircle cx='12' cy='12' r='1'/%3E%3Ccircle cx='19' cy='12' r='1'/%3E%3Ccircle cx='5' cy='12' r='1'/%3E%3Ccircle cx='12' cy='19' r='1'/%3E%3Ccircle cx='19' cy='19' r='1'/%3E%3Ccircle cx='5' cy='19' r='1'/%3E%3C/svg%3E")no-repeat center;
  background-color:var(--window-text);
  color:var(--window-text)!important;
  cursor:nwse-resize;
  display:inline-block;
  height:24px;
  mask:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-grip'%3E%3Ccircle cx='12' cy='5' r='1'/%3E%3Ccircle cx='19' cy='5' r='1'/%3E%3Ccircle cx='5' cy='5' r='1'/%3E%3Ccircle cx='12' cy='12' r='1'/%3E%3Ccircle cx='19' cy='12' r='1'/%3E%3Ccircle cx='5' cy='12' r='1'/%3E%3Ccircle cx='12' cy='19' r='1'/%3E%3Ccircle cx='19' cy='19' r='1'/%3E%3Ccircle cx='5' cy='19' r='1'/%3E%3C/svg%3E")no-repeat center;
  width:24px
  }
  
  .w2ui-btn.accent, .panel-tabs.checked {
  background-color:color-mix(in oklab,var(--node-background) 50%,var(--accent));
  color: var(--node-title)
  }
  
  .w2ui-btn.accent:hover, .panel-tabs.checked:hover {
  background-color:color-mix(in oklab,var(--node-background) 70%,var(--accent));
  color: var(--node-title)
  }
  
  .resize-icon:hover {
  background-color:var(--accent)!important;
  color:var(--accent)!important
  }
  
  .w2ui-popup-resizer.resize-point {
  height:1.1em!important;
  width:1.1em!important
  }
  
  .li-search input,.w2ui-form input:not([type=radio]).w2ui-input,.w2ui-form textarea,.w2ui-message,.w2ui-overlay,.w2ui-panel,.w2ui-popup *,.w2ui-sidebar {
  color:var(--window-text)
  }
  
  .w2ui-field-helper.w2ui-list,.w2ui-field.expand .w2ui-multi-items,.w2ui-field:has(.full-width-field),.w2ui-field:has(.full-width-field) div,.w2ui-field:has(input[type=checkbox]) div,.w2ui-field:has(input[type=checkbox]) label.w2ui-box-label,.w2ui-field:has(textarea) div {
  width:100%!important
  }
  
  .w2ui-enum-placeholder {
  height:min-content;
  left:1rem;
  margin:auto;
  pointer-events:none;
  position:relative!important;
  z-index:10
  }
  
  .li-search input,.w2ui-form textarea,.w2ui-message,.w2ui-multi-file,.w2ui-sidebar,input:not([type=radio]).w2ui-input,select {
  background-color:var(--window-background-alt)
  }
  
  .w2ui-field:has(.full-width-field) div input,.w2ui-form textarea {
  flex-grow:2
  }
  
  .w2ui-column-container:not(:has(.col-1)),.w2ui-field.expand:has(.w2ui-multi-items),.w2ui-tb-button {
  height:100%
  }
  
  .li-search input,.w2ui-btn,.w2ui-form input:not([type=radio]).w2ui-input,.w2ui-form textarea,.w2ui-input.w2field,.w2ui-message,.w2ui-multi-items .li-item,.w2ui-popup,input[type=color],input[type=color]:active,input[type=color]:focus,input[type=color]:hover,select {
  border-radius:.25rem
  }
  
  .w2ui-field:has(textarea) {
  display:block
  }
  
  .w2ui-field:has(.w2ui-box-label) label:not(.w2ui-box-label) {
  display:none
  }
  
  .w2ui-box-label:has(input[type=radio]) input,.w2ui-field .w2ui-box-label input[type=checkbox],.w2ui-group-fields,.w2ui-tb-button .w2ui-tb-icon {
  margin:0!important
  }