<!DOCTYPE html>
<html>

<head>
    <title>Component Preview</title>
    <link rel="stylesheet" href="./style/fira-sans/fira.css">
    <link rel="stylesheet" type="text/css" href="./style/themes.css">
    <link rel="stylesheet" type="text/css" href="./style/w2ui3.css">
    <link rel="stylesheet" type="text/css" href="./style/style.css">
    <link rel="stylesheet" type="text/css" href="./style/w2theming.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Turnroot Editor">
    <meta name="application-name" content="Turnroot Editor">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>

<body>

    <div id="main" class="turnroot" style="width: 100%;height:100vh;min-width:1100px;"></div>
    <div id="css-support" style="display: none">
        <p>This browser is not supported. Please upgrade to a modern browser that can support the :has CSS selector.
            See: <a style='text-decoration: none; color: var(--accent); font-weight:bold;'
                href="https://caniuse.com/?search=%3Ahas()">Can I Use</a></p>
    </div>

    <div id="mobile-support" style="display: none">
        <p>Turnroot Editor does not work well on phones- you'll need to use a desktop computer, laptop, or tablet.</p>
    </div>

    <noscript>
        <div id="js-support">
            <p>This page needs JavaScript to run. Please turn on JavaScript and refresh the page.</p>
        </div>
    </noscript>
    <script>
        let logs = []
        window.turnrootEditorLogs = logs
        console.log = function (message) {
            window.turnrootEditorLogs.push(`${new Date()}||info||${JSON.stringify(message)}`)
        }
        console.error = function (message) {
            window.turnrootEditorLogs.push(`${new Date()}||error||${message? JSON.stringify(message) : 'No error message'}`)
        }
    </script>
    <script type="module">
        let body = document.querySelector('body')
        let loading = document.createElement('div')
        loading.style.position = 'fixed'
        loading.id = 'loading'
        loading.style.top = '0'
        loading.style.left = '0'
        loading.style.width = '100%'
        loading.style.height = '100%'
        loading.style.backgroundColor = 'rgba(0,0,0,.5)'
        loading.style.display = 'flex'
        loading.style.justifyContent = 'center'
        loading.style.alignItems = 'center'

        let tip = document.createElement('div')
        tip.style.backgroundColor = 'white'
        tip.style.color = 'black'
        tip.style.padding = '1rem'
        tip.style.borderRadius = '.5rem'
        tip.innerHTML = 'Loading...'

        body.appendChild(loading)
        loading.appendChild(tip)
        let scriptTag = document.createElement('script')
        scriptTag.src = './bundle.js'
        scriptTag.type = 'module'
        document.body.appendChild(scriptTag)
        scriptTag.onload = function() {
            loading.style.display = 'none'


    let config = {
        layout: {
            name: 'EditorWindowLayout',
            padding: 0,
            panels: [
                {type: 'top', size: 32, resizable: false, content: 'top', overflow: 'hidden'},
                {type: 'bottom', size: '16', resizable: false, content: 'bottom', overflow: 'hidden'},
                { type: 'left', size: '12%', resizable: false, minSize: '36' },
                { type: 'main', overflow: 'hidden' }
            ]
        }
    }

    let layout = new w2layout(config.layout)
    let sidebar = EditorWindowSidebar
    let topmenu = EditorWindowTopMenu
    let statusbar = EditorWindowStatusBar
    let mainwindow = EditorWindow
    
    window.EditorWindowSidebar = EditorWindowSidebar
    window.MainEditorWindow = layout
    window.EditorWindow = mainwindow
    window.EditorWindowTopMenu = topmenu
    window.EditorWindowStatusBar = statusbar

    layout.render('#main')

    layout.html('main', DefaultStart)
    layout.html('left', sidebar)
    layout.html('top', topmenu)
    layout.html('bottom', statusbar)


    setInterval(function() {
        window.sendQueue()
    }, 140000)

    document.addEventListener('keydown', function(event) {
        if ((event.ctrlKey || event.metaKey) && event.key === 's') {
            event.preventDefault()
            window.sendQueue()
            console.log('Save scheduled')
        } else if ((event.ctrlKey || event.metaKey) && event.key === 'r') {
            event.preventDefault()
            w2alert('Refreshing is disabled to prevent data loss. The Turnroot Editor refreshes automatically, you don\'t need to refresh the page.', 'Refresh Disabled')
        } else if (event.ctrlKey || event.metaKey) {
            if (event.shiftKey){
                if (event.key === '1' || event.key === 'g'){
                    window.EditorWindowSidebar.click('sidebar-editors-game-editor')
                } else if (event.key === '2' || event.key === 'u'){
                    window.EditorWindowSidebar.click('sidebar-editors-unit-editor')
                } else if (event.key === '3' || event.key === 'c'){
                    window.EditorWindowSidebar.click('sidebar-editors-class-editor')
                }
            } 
        }
    })}
    
</script>

</body>

</html>